.HomePageComponentContainer {
  background-color: black;
  color: white;

  .TrendingRowComponentContainer {
    background-color: black;

    .Title {
      margin-left: 1em;
      margin-top: 1em;
    }

    .TrendingRow {
      padding: 2em;
      display: flex;

      .TrendingItem:hover {
        .ItemContent {
          display: block;
          -webkit-transition: opacity 2s ease-in;
          -moz-transition: opacity 2s ease-in;
          -o-transition: opacity 2s ease-in;
          -ms-transition: opacity 2s ease-in;
          transition: opacity 2s ease-in;
        }
      }

      .TrendingItem {
        margin-left: 10px;
        margin-right: 10px;
        position: relative;

        .ItemContent {
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(18,18,18, 0.6) !important;
          outline-offset: -100px;
          overflow: hidden;
          height: 300px;
          width: 100%;
          display: none;
          -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;

          .FloatingContainer {
            color: white;
            font-size: small;
            padding: 20px 5px;

            .Description {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 5; /* number of lines to show */
              -webkit-box-orient: vertical;
            }
          }
        }

        .TrendingItemImage {
          object-fit: cover;
          width: 200px;
          height: 300px;
        }
      }
    }
  }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}